.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 38rem;
    margin-top: 4rem;
    /* background-color: #E3E3E3; */
    gap: 10px;
}

.menu-dock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 37rem;
    width: 4rem;
    border-radius: 0px 5px 5px 0px;
    background-color: black;
    position: absolute;
    top: 38px;
    z-index: 50;
    box-shadow: rgb(251, 251, 251) 0px 5px 15px;
    overflow: hidden;
}

.dock-item {
    color: white;
    height: 50px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions-container {
    background-color: white;
    display: flex;
    width: 90vw;
    min-width: 400px;
    margin-left: 100px;
    justify-content: space-between;
    gap: 10px;
}

@media only screen and (min-width: 768px) {
    .actions-container {
        /* background-color: lightblue; */
    }
}


.template-container {
    min-width: 300px;
    height: auto;
    background-color: #E3E3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.search-container{
    width:  95%;
    height: 40px;
    margin-top: 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.search-container input{
    background-color: #F2F2F2;
    border: none;
    height: 50px;
    width: 80%;
    font-size: 20px;
    padding-left: 10px;
}

.search-container input:focus{
    outline: none;
}

.items-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.edit-container{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.edit-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: transparent;
    gap: 5px;
}

.edit-container button:hover{
    cursor: pointer;
    background-color: rgb(35, 35, 35);
}


.title-container{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.details-container{
    width: 65rem;
    min-width: 300px;
    height: 100%;
    /* background-color: lightcoral; */
}




.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #ECECEC;
    padding: 2rem;
    border-radius: 10px;
    border: none;
  }

  .example-list{
    height: 38rem;
    overflow-y: scroll;
    width: 70%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  

  ::-webkit-scrollbar {
    display: none;
}