.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    margin-top: 4rem;
    gap: 10px;
}

.menu-dock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 38rem;
    width: 4rem;
    border-radius: 0px 5px 5px 0px;
    background-color: black;
    position: absolute;
    top: 38px;
    z-index: 50;
    box-shadow: rgb(251, 251, 251) 0px 5px 15px;
    overflow: hidden;
}

.dock-item {
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.actions-container {
    background-color: white;
    display: flex;
    width: 90vw;
    min-width: 400px;
    margin-left: 100px;
    justify-content: space-between;
    gap: 10px;
}


.template-container {
    min-width: 300px;
    height: 78vh;
    background-color: #E3E3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.template-wrapper {
    height: 77vh;
    background-color: #FAFAFA;
    padding: 5px;
    border-radius: 10px;
}

.search-container {
    width: 95%;
    height: 40px;
    margin-top: 10px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.search-container input {
    background-color: #F2F2F2;
    border: none;
    height: 50px;
    width: 80%;
    font-size: 20px;
    padding-left: 10px;
}

.search-container input:focus {
    outline: none;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.edit-container {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.edit-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: transparent;
    gap: 5px;
}

.edit-container button:hover {
    cursor: pointer;
    background-color: rgb(35, 35, 35);
}


.title-container {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65rem;
    min-width: 300px;
    height: 80vh;
    background-color: #E3E3E3;
}

.details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 90%;
}

.user-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.user-actions button {
    display: flex;
    padding: 0.5rem 1rem;
    background-color: #FDFDFD;
    align-items: center;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    gap: 1rem;
    border: 1px solid gray;
}

.pointer{
    cursor: pointer;
}

.example-list {
    width: 95%;
    height: 69vh;
    max-width: 100%;
    border: solid 1px #ccc;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    overflow-y: scroll;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    padding: 5px;
    margin-left: 0.5rem;
}

.bottom-dock{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #FAFAFA;
    position: absolute;
    bottom: 0;
}

.bottom-btns-container{
    margin-right: 3rem;
    display: flex;
    gap: 20px;
}

.bottom-btns-container button{
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.bottom-btns-container button:last-child{
    background-color: black;
    color: white;
    border: none;
}


.cdk-drag-preview {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #ECECEC;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    width: 60%;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


::-webkit-scrollbar {
    display: none;
}