<div class="container">
    <div class="menu-dock">
        @for (item of items; track $index) {
        <div class="dock-item">
            <span>{{ item.name }}</span>
        </div>
        }
    </div>

    <div class="actions-container">
        <div class="template-container">
            <h1 style="margin-top: 10px;">Template</h1>
            <div class="search-container">
                <input type="text" placeholder="Search" class="search-input">

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="gray" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </div>

            <div class="items-container">
                @for (item of templates; track $index) {
                <div class="list-item">
                    <span>{{item}}</span>
                </div>
                }

                <div class="edit-container">
                    <button>
                        Edit
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-pencil" viewBox="0 0 16 16">
                            <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                        </svg>
                    </button>
                </div>

            </div>

        </div>
        <div class="details-container">
            <div class="details-title">
                <h1>Root Canal</h1>
            </div>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                @for (item of noteSections; track item) {
                <div class="example-box" cdkDrag>
                    {{ item.title }}
                    <ul>
                        <li>{{ item.points }}</li>
                    </ul>
                </div>
                }
            </div>
        </div>
    </div>


</div>